.git
__pycache__
*.pyc
*.pyo
.env
.venv
venv
.idea
.vscode
tests
docs
*.md
!requirements.txt
node_modules
*.egg-info
dist
build
.pytest_cache
.mypy_cache
.ruff_cache
logs
chroma_db
uv.lock
.github
docker
